In [171]:
import os, sys

##normal pandas
import pandas as pd
from pandas import DataFrame as DF, Series

In [189]:
# e_list=["A","T","C","G"]
e_list = ["L"]
if not any([True if e in in_seq else False for e in e_list]):
    raise Exception("Not neucletide.")

Exception: Not neucletide.

In [58]:
in_seq = "ATGGATGCATACGAGATGAGG"
seq_list = [e for e in in_seq]
res_dict = {}

# frame shift
for start in range(3):
    sub_list = seq_list[start:]
    o = 0

    # get codon
    for e in sub_list:
        res = sub_list[o : o + 3]
        res = "".join(res)
        if res != "":
            res_dict.setdefault("codon_{}".format(start), []).append(res)
        o += 3
df_in = DF(res_dict)
df_in

  codon_0 codon_1 codon_2
0     ATG     TGG     GGA
1     GAT     ATG     TGC
2     GCA     CAT     ATA
3     TAC     ACG     CGA
4     GAG     AGA     GAT
5     ATG     TGA     GAG
6     AGG      GG       G

In [141]:
dfr = pd.read_csv("codon_amino.tsv", sep="\t")
dfr

   codon tri_code sig_code                       anmino
0    GCA      Ala        A                      Alanine
1    GCC      Ala        A                      Alanine
2    GCG      Ala        A                      Alanine
3    GCT      Ala        A                      Alanine
4    AAC      Asx        B  Asparagine or Aspartic acid
..   ...      ...      ...                          ...
68   GAA      Glx        Z   Glutamine or Glutamic acid
69   GAG      Glx        Z   Glutamine or Glutamic acid
70   TAA        *        *                   stop codon
71   TAG        *        *                   stop codon
72   TGA        *        *                   stop codon

[73 rows x 4 columns]

# output

In [168]:
out_d = "output"
os.makedirs(out_d, exist_ok=True)

In [170]:
for num in range(3):
    col_name = "codon_{}".format(num)
    df_sub = df_in[col_name]
    df_res = DF(df_sub).merge(dfr, how="left", left_on=col_name, right_on="codon")
    df_res.to_csv("{}/{}.csv".format(out_d, col_name), sep="\t", index=False)
    if num == 1:
        print(df_res)

  codon_1 codon tri_code sig_code      anmino
0     TGG   TGG      Trp        W  Tryptophan
1     ATG   ATG      Met        M  Methionine
2     CAT   CAT      His        H   Histidine
3     ACG   ACG      Thr        T   Threonine
4     AGA   AGA      Arg        R    Arginine
5     TGA   TGA        *        *  stop codon
6      GG   NaN      NaN      NaN         NaN

In [191]:
os.path.dirname("/home/junsheng/BIN/junsheng")

'/home/junsheng/BIN'

In [194]:
os.path.realpath("/home/junsheng/BIN/junsheng/DNA2Pro/DNA2Pro.py")

'/home/junsheng/BIN/junsheng/DNA2Pro/DNA2Pro.py'

In [195]:
df_res.drop(columns=["codon"])

  codon_2 tri_code sig_code                       anmino
0     GGA      Gly        G                      Glycine
1     TGC      Cys        C                     Cysteine
2     ATA      Ile        I                   Isoleucine
3     CGA      Arg        R                     Arginine
4     GAT      Asx        B  Asparagine or Aspartic acid
5     GAT      Asp        D                Aspartic acid
6     GAG      Glu        E                Glutamic acid
7     GAG      Glx        Z   Glutamine or Glutamic acid
8       G      NaN      NaN                          NaN